1- Register (Client)
2- Login (Client)
3- Logout (Client)
4- Display Sections (Client)
5- Display Services (Client)
6- Display All Experts (Client)
7- Display A Specific Expert (Client)
8- Search For a Section (Client)
9- Display Account (Client)
10- Update Account (Client)
