@import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  font-family: "Cairo", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
}

button,
input,
textarea,
select {
  font-family: "Cairo", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    sans-serif;
}

/* Fix for browser autofill background on transparent inputs */
.autofill-transparent:-webkit-autofill,
.autofill-transparent:-webkit-autofill:hover,
.autofill-transparent:-webkit-autofill:focus,
.autofill-transparent:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
  background-color: transparent !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
